@import url("https://fonts.googleapis.com/css?family=Scope+One|Shrikhand");

body {
  margin: 0;
  padding: 0;
}

#game {
  font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
}

#forPuzzle {
  position: absolute;
  width: 95vw;
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffdd;
  overflow: hidden;
  z-index: 1;
}

.polypiece {
  display: block;
  overflow: hidden;
  position: absolute;
}

.moving {
  transition-property: top, left;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.gameCanvas {
  display: none;
  overflow: hidden;
  position: absolute;
}

.timer {
  position: fixed;
  top: 17px;
  right: 22px;
  font-size: 25px;
  color: #ff6600;
  z-index: 998;
  font-weight: bold;
  background-color: #3d3d3d;
  padding: 5px 10px;
  border-radius: 5px;
  animation: heartBeat;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.puzzleCount {
  position: fixed;
  top: 17px;
  left: 50px;
  font-size: 25px;
  color: #ff6600;
  z-index: 997;
  font-weight: bold;
  background-color: #3d3d3d;
  padding: 5px 10px;
  border-radius: 5px;
  animation: shakeX;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
  font-size: 25px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*End game modal*/
.modal2 {
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content2 {
  background-color: #fefefe;
  margin: 0px; /* 15% from the top and centered */
  padding: 0px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
  font-size: 25px;
}

/* The Close Button */
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover2,
.close:focus2 {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.image-select {
  height: 200px;
  cursor: pointer;
  margin: 10px;
}

.image-select:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.candies {
  display: flex;
  justify-content: center;
}

.candies img {
  width: 100px;
}

#menu {
  border: 1px solid white;
  background-color: white;
}

li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  font-size: 20px;
}

#myBtn {
  border: none;
  background-color: white;
  font-size: 20px;
  color: white;
}
.restartButton {
  font-size: 50px;
  padding: 10px 20px;
  background-color: #ff6600;
  font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  color: rgb(255, 255, 255);
  border: solid;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10000;
  visibility: hidden;
  top: 60%;
  left: 37.5%;
}

#selection {
  background-image: url(https://piktochart.com/wp-content/uploads/2023/10/large-283-600x338.jpg);
  background-size: cover;
  background-color: rebeccapurple;
  color: #fff;
  display: grid;
  font-family: "Scope One", serif;
  font-size: 22px;
  height: 100vh;
}

div {
  margin: auto;
  text-align: center;
}

.title {
  position: relative;
  top: -40px;
  font-family: "Shrikhand", cursive;
  font-size: 75px;
}

h2 {
  color: #cccccc;
  text-shadow: 2px 2px 8px #cccccc;
  font-size: 1.5rem;
  margin-top: -100px;
}

.image-shelf {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  box-align: middle;
  margin-top: -20px;
  gap: 15px;
}

.picture {
  width: 210px;
  height: 300px;
  border: 5px solid #cc7a00;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 2px #995c00;
  object-fit: cover;
  visibility: visible;
}

.picture:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
}

#bat {
  visibility: visible;
}

#spiders {
  visibility: visible;
}

#pumpkin {
  visibility: visible;
}

#candy {
  visibility: visible;
}

#tree {
  visibility: visible;
}

#witchduck {
  visibility: visible;
}

#duck {
  visibility: visible;
}

#donald {
  visibility: visible;
}

#duck2 {
  visibility: visible;
}
